<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>106ième - Saint Dominique</title>
  </head>

<body class="container"></body>
      
    <header>
      <%- include('./menu.ejs') %>
    </header>

    <main> 
        <h2>Bienvenue sur la page principale de la 106ième</h2>   
        <hr size="1px">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at aliquam eros, eget rhoncus magna. In in lacus erat. Ut sed cursus magna. Pellentesque non aliquam lacus. Maecenas et risus vel est tristique euismod vitae quis augue. In maximus aliquet lacus, et varius sapien viverra in. Praesent tristique sed lectus vitae consequat. Proin a lectus sed risus dignissim tristique ac non eros. Proin enim nisi, lacinia nec justo sit amet, facilisis egestas turpis. Sed rhoncus, urna at porta feugiat, sapien odio sagittis turpis, sed vehicula dui mi eget ligula.
        </p>
    </main>
</body>

  <footer>
      Site de l'unité Saint-Dominique - 106ième
  </footer>
</html>