<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <meta name="description" content="Site internet officiel de la 106ième unité scoute Saint Dominique située à Stockel"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>106ième - Saint Dominique</title>
  </head>

<body class="container">

    <header>
      <%- include('./menu.ejs') %>
    </header>

    <main> 
        <h2>Bienvenue sur le site de l'unité!</h2>   
        <hr size="1px">
       <div class="txt_intro"> 
        
        <p>
          <B>Ce site internet est le site officiel de l'unité scoute 106ième Saint-Dominique.</B>
        </p>
        
        <p>
          Vous pourrez y retrouver toutes les informations utiles pour une année pleine de nature ! </br>
          N'hésitez pas à voyager entre les différents <b>onglets</b> afin d'y trouver toutes les <b>informations utiles.</b>
        </p>
        
        <p>
          Vous ne faites pas encore partie de l'unité ? Vous souhaiteriez inscrire votre fils/fille ? 
        </br>
          Les <b><a class="link" href="inscription.ejs">inscriptions </a></b>sont actuellement <b>ouvertes</b>, pour ce faire,
          rendez-vous sur la page <b><a class="link" href="inscription.ejs">inscription.</a></b>
        </p>
        
        <p>
          Vous trouverez sur <b><a class="link" href="https://lesscouts.be/">le site de la Fédération scoute</a></b>
          et <b><a class="link" href="http://www.guides.be/">le site des Guides Catholiques de Belgique</a> </b>
        </br>
          toutes les informations concernant les uniformes, les badges et l'esprit du scoutisme et du guidisme.
        </p>

          <u>
            <p>
              <a class="link" href="https://lesscouts.be/" >site de la Fédération scoute</a>
            </p>

            <p>
              <a class="link" href="http://www.guides.be/" >site des Guides Catholiques de Belgique</a>
            </p>
          </u>
        </p>
      </div>
        <table class="tab_index">
          <tr>
            <td>
              <a>
                <img class="img_index" src="./Images/sizaine_scout.jpg" alt="Image d'une patrouille scouts' scouts">
              </a>
            </td>
          
            <td>
              <a>
                <img class="img_index" src="./Images/prairies.jpg" alt="Image de prairie avec pilotis">
              </a>
            </td>
        
            <td>
              <a>
                <img class="img_index" src="./Images/pilotis.jpg" alt="Image de pilotis scouts">
              </a>
            </td>
          
            <td>
              <a>
                <img class="img_index" src="./Images/sous-pilotis.jpg" alt="Image de pilotis scouts">
              </a>
            </td>
          
            <td>
              <a>
                <img class="img_index" src="./Images/Troupe.jpg" alt="Troupe de scouts">
              </a>
            </td>

            <td>
              <a>
                <img class="img_index" src="./Images/hike.png" alt="Photo d'une patrouille">
              </a>
            </td>
          </tr>
        </table>
    </main>
</body>

  <footer>
      Site de l'unité Saint-Dominique - 106ième
  </footer>
</html>