
<h1>Unité saint dominique - 106ième</h1>

<ul id="menu">
  <li><a href="/">Accueil</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/inscription">Inscription</a></li>
  <li><a href="/membre">Membres</a></li>
  <li><a href="/section">Sections</a></li>
</ul>