:root {

    --orange:#FF6600;
    --bleu:#104386;
    --bleuclair:rgb(66, 124, 241);
    --beige:#E1D4C0;
    --blanc:#F5EDE3;
    --vert: rgba(0, 128, 0, 0.76);
    --blancTransp:rgb(256, 256, 256, 0.7);
   
    --length-M: 2rem;

    --length-XS: calc(var(--length-S) / 2);
    --length-S: calc(var(--length-M) / 2);
    --length-L: calc(var(--length-M) * 2);
    --length-XL: calc(var(--length-L) * 2);
    
    
}

/* ________________________________Commun aux pages : */
html{
    background-image: url(./Images/foret2.jpg);
    background-repeat: no-repeat;
    
}
body{
    margin:3% 7% 0% 5%;
    font-family: Arial, sans-serif;
    
}

header{
    grid-area: header; 
    position: fixed;   
    
    width: 69%;

    background-image: linear-gradient(to right, transparent 0%, var(--blancTransp) 1%, var(--blancTransp) 98%,transparent 99%);
      
    margin: -3% 7% 0 6%;
    padding: 0% 6% 0% 3%;
    border-radius: 5px;
}

main{
    
    grid-area: main;
    font-size: var(--length-S);
    margin: 23% 5% 0% 7%;
    padding: 0 3% 0 3%;
    border-radius: 5px;
    /*background-color: rgb(256, 256, 256, 0.5);*/
    background-image: linear-gradient(to right, transparent 0%, var(--blancTransp) 1%, var(--blancTransp) 98%,transparent 99%);
}

footer{
    text-align: right;
    font-size: var(--length-S);
    grid-area : footer;

    margin: 0 5% 0 7%;
    padding: 0 4% 0 0;
    background-image: linear-gradient(to right, transparent 0%, var(--blancTransp) 1%, var(--blancTransp) 98%,transparent 99%);
}

.container {
    font-family: Arial, Helvetica, sans-serif;
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

/* ________________________________Menu */
.logostdom{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#menu ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--length-XS);
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

#menu ul li {
    list-style-type: none;
}

#menu ul a {
	border : 3px solid black;
    padding: 0.7em 1.1em;
    margin: 1%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    border-radius: var(--length-XS);

}

#menu ul a:hover{
	background-color:black;
    color: white;
    border : 3px solid white;
}
.link{
    color:black;
    text-decoration: none;
}
/* ________________________________Page d'accueil   */
.txt_intro{
    text-align: center;
}
.tab_index tr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tab_index td{
    flex-wrap: wrap;
}
.tab_index td:hover{
    transform: scale(1.6);
}
.img_index{
    border-radius: 15px;
}

/*________________________________Page Contact*/
.coordonees_contact{
    position: fixed;
    right: 15%;
    width:25%;
    border: 0 0 1% 1%;
    border-left: solid grey;
    border-bottom: solid grey;
    border-radius: 0 0 0 5px ;
    padding: 1%;
    background-color: var(--blancTransp);
}
/*________________________________Page d'Inscription*/

.formulaires {
    width: 30%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label{
    display: inline-block;
    width: auto;
    text-align: left;
    margin-bottom: var(--length-S);
}

input, textarea {
    font: var(--length-S);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: var(--length-S);
}

input:hover, textarea:hover{
    border: 2px solid black; 
}

input#user_gender.user_gender {
    left: 0.5rem;
    top: 0.2rem;
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border: 0.05rem solid black;
    background: white;
    margin-bottom: var(--length-S);
}

/* _______________Boutons de la page membre.ejs (Espace Membre) et de la page section.ejs (Sections*/
.bouton_addmembre{
    position:fixed;
    right:15%;
    text-decoration: none;
    color: rgb(161, 149, 149);
    color: var(--vert); 
    margin-left: 5%;
    border: solid;
    margin-top: 1%;
    border-radius: 5px;
    padding: 1%;
    background: var(--blancTransp);
}

.barre_separation{
    margin: var(--length-S) var(--length-S) var(--length-XS) var(--length-L);
    width: 200px;
    
}

.bouton_membre{
	border-radius: var(--length-L);
	border:none;
    padding: var(--length-S);
    text-decoration: none;
}
.bouton_membre a{
    text-decoration: none;
}
.bouton_supprimer{
    color: rgba(255, 0, 0, 0.466); 
    margin-left: var(--length-XS);
    margin-right: var(--length-XS);
    text-decoration: none;
}

.bouton_modifier{
    color: var(--vert); 
}

/* ________________________________Page Sections */

.affichage_section{

    width:55%;
    margin-right: 20%;
}

.form_add_section{
    position: fixed;
    right: 15%;
    width:25%;
    border: 0 0 1% 1%;
    border-left: solid grey;
    border-bottom: solid grey;
    border-radius: 0 0 0 5px ;
    padding: 1%;
    
}